<div class="background">

  <div class="white-block" style="min-width: 45%; overflow: auto">
    <div class="ll-form ll-form-big">
      <p class="h3 text-center mb-2 black">Create a new account</p>
      <p class="text-center" style="color: #808080">Please set up information for your account and your company.</p>

      <div class="wizard">
        <div class="line" [class.active]="true"></div>
        <div class="circle" [class.active]="create_person_done">
          <mat-icon aria-label="Example home icon" [class.active]="create_person_done" class="icons">person</mat-icon>
        </div>
        <div class="line" [class.active]="create_person_done"></div>
        <div class="circle" [class.active]="invite_to_company_done">
          <mat-icon aria-label="Example home icon" [class.active]="invite_to_company_done" class="icons">group_add</mat-icon>
        </div>
        <div class="line" [class.active]="invite_to_company_done"></div>
        <div class="circle">
          <mat-icon aria-label="Example home icon" class="icons">directions_bus</mat-icon>
        </div>
        <div class="line"></div>
      </div>

      <ng-container *ngIf="currentStatus === 'create-account'">
        <app-create-account #accountComponent></app-create-account>
        <div class="d-flex justify-content-end">
          <button type="submit" class="ll-button fill" (click)="submit()">Create account</button>
        </div>
      </ng-container>

      <ng-container *ngIf="currentStatus === 'invite-to-company'">
        <app-invite-token #inviteTokenComponent></app-invite-token>
        <div class="d-flex justify-content-end">
          <button type="submit" class="ll-button outline mr-2" (click)="goToCreateCompany()">Create new company</button>
          <button type="submit" class="ll-button fill" (click)="submit()">Join to company</button>
        </div>
      </ng-container>

      <ng-container *ngIf="currentStatus === 'create-company'">
        <app-create-company #createCompanyComponent></app-create-company>
        <div class="d-flex justify-content-end">
          <button type="submit" class="ll-button outline mr-2" (click)="back()">
            <mat-icon>arrow_back_ios</mat-icon>
            Back
          </button>
          <button type="submit" class="ll-button fill" (click)="submit()">Create company</button>
        </div>
      </ng-container>

      </div>
  </div>
</div>
