<div style="width: 70vw;" class="mt-4" *ngIf="company">
  <div class="d-flex justify-content-between align-items-center">
    <a class="h3" style="color: #808080">{{getTranslate('My company')}}</a>

    <button class="ll-button outline">
      <mat-icon class="mr-2">edit</mat-icon>
      Edit
    </button>
  </div>

  <div class="row mt-4">
    <div class="col-12 col-md-8">
      <div class="white-block">
        <label class="h4 mb-4">Company information</label>

        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="ll-form-row">
              <label class="ll-form-label">Company name</label>
              <div class="ll-form-control">{{ company?.name }}</div>
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <div class="ll-form-row">
              <label class="ll-form-label">Company status</label>
              <div class="ll-form-control">{{ company?.moderated ? 'Moderated' : 'Not moderated'  }}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="ll-form-row">
              <label class="ll-form-label">Date of registration</label>
              <div class="ll-form-control">{{ company?.CreatedAt | date: 'yyyy-MM-dd' }}</div>
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <div class="ll-form-row">
              <label class="ll-form-label">Date of last update</label>
              <div class="ll-form-control">{{ company?.UpdatedAt | date: 'yyyy-MM-dd' }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="white-block mt-4">
        <label class="h4 mb-4">Documents</label>

        // TODO
      </div>
    </div>

    <div class="col-12 col-md-4 mt-3 mt-md-0">
      <div class="white-block">
        <div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
          <label class="h4">Invitation</label>

          <div class="ll-form-buttons mt-0">
            <button class="ll-button outline" (click)="showToastr()" [cdkCopyToClipboard]="company?.inviteCode || ''">
              <mat-icon class="mr-2">content_copy</mat-icon>
              Copy
            </button>
          </div>
        </div>

        <div class="wallet-information-item">
          <label class="ll-form-label mb-4">Please scan the invitation or copy the link if you want to invite new users to your company.</label>
          <div class="d-flex justify-content-center">
            <qr-code [value]="company?.inviteCode || ''" [size]="200"></qr-code>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="" size="medium" color="#988aac" type="ball-beat"></ngx-spinner>
