<div class="p-4">
  <p class="h4 mt-0 d-flex align-items-center justify-content-center" style="color: #808080">
    Create trip
  </p>

  <form [formGroup]="form" class="row">
    <div class="col-12 col-lg-6">
      <div class="ll-form-row">
        <label class="ll-form-label">Route</label>
        <div class="ll-form-control" ll-form-error>
          <ng-select
            formControlName="routeId"
            placeholder="Route"
            class="stretch"
            [clearable]="false"
            bindLabel="full_route"
            bindValue="ID"
            [items]="routes">
          </ng-select>
        </div>
      </div>

      <div class="ll-form-row">
        <label class="ll-form-label">Description</label>
        <div class="ll-form-control" ll-form-error>
          <input type="text" formControlName="description" class="ll-input stretch" placeholder="Description">
        </div>
      </div>

      <div class="ll-form-row">
        <label class="ll-form-label">Departure</label>
        <div class="ll-form-control" ll-form-error>
          <input type="text" formControlName="departure" class="ll-input stretch" placeholder="Departure">
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="ll-form-row">
        <label class="ll-form-label">Transport</label>
        <div class="ll-form-control" ll-form-error>
          <ng-select
            formControlName="vehicleId"
            placeholder="Transport"
            class="stretch"
            [clearable]="false"
            bindLabel="NumberPlate"
            bindValue="ID"
            [items]="vehicles">
          </ng-select>
        </div>
      </div>

      <div class="ll-form-row">
        <label class="ll-form-label">Price</label>
        <div class="ll-form-control" ll-form-error>
          <input type="text" formControlName="price" class="ll-input stretch" placeholder="Price">
        </div>
      </div>

      <div class="ll-form-row">
        <label class="ll-form-label">Arrival</label>
        <div class="ll-form-control" ll-form-error>
          <input type="text" formControlName="arrival" class="ll-input stretch" placeholder="Arrival">
        </div>
      </div>
    </div>
  </form>

  <div class="d-flex justify-content-end">
    <button type="submit" class="ll-button outline" (click)="bsModalRef.hide()">Cancel</button>
    <button type="submit" class="ll-button fill ml-2" (click)="submit()">Create transport</button>
  </div>
</div>
