<div style="width: 70vw;" class="mt-4" *ngIf="company">
  <div class="d-flex justify-content-between align-items-center">
    <a class="h3" style="color: #808080">{{ company.name }}</a>

    <div class="d-flex">
      <button *ngIf="!company.blocked" class="ll-button danger stretch" (click)="showBlockModal(company)">Block</button>
      <button *ngIf="company.blocked" class="ll-button outline stretch">Unblock</button>
      <button *ngIf="!company.moderated" class="ll-button outline stretch ml-2">Approve</button>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <div class="white-block">
        <label class="h4 mb-4">Company information</label>

        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="ll-form-row">
              <label class="ll-form-label">Company name</label>
              <div class="ll-form-control">{{ company?.name }}</div>
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <div class="ll-form-row">
              <label class="ll-form-label">Company status</label>
              <div class="ll-form-control">{{ company?.moderated ? 'Moderated' : 'Not moderated'  }}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="ll-form-row">
              <label class="ll-form-label">Date of registration</label>
              <div class="ll-form-control">{{ company?.CreatedAt | date: 'yyyy-MM-dd' }}</div>
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <div class="ll-form-row">
              <label class="ll-form-label">Date of last update</label>
              <div class="ll-form-control">{{ company?.UpdatedAt | date: 'yyyy-MM-dd' }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="white-block mt-4 mb-4">
        <label class="h4 mb-4">Documents</label>

        <div *ngFor="let document of company.documents" class="mb-2">
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="ll-form-row">
                <label class="ll-form-label">Document name</label>
                <div class="ll-form-control">{{ document.typeName }}</div>
              </div>
            </div>

            <div class="col-12 col-lg-6">
              <div class="ll-form-row">
                <label class="ll-form-label">Create date</label>
                <div class="ll-form-control">{{ document.CreatedAt | date: 'yyyy-MM-dd HH:mm'  }}</div>
              </div>
            </div>
          </div>

          <img class="document" [alt]="document.typeName" [src]="document.content" (click)="openDocument(document.content)">
        </div>
      </div>
    </div>

  </div>
</div>

<ngx-spinner bdColor="" size="medium" color="#988aac" type="ball-beat"></ngx-spinner>
