<div style="width: 70vw;" class="mt-4">

  <div class="d-flex justify-content-between align-items-center">
    <a class="h3" style="color: #808080">{{getTranslate('Transports')}}</a>

    <button class="ll-button outline" (click)="showCreateModal()">
      <mat-icon class="mr-2">add</mat-icon>
      Create
    </button>
  </div>

  <div class="white-block mt-4">
    <table class="ll-table stretch mt-4 mb-3">
      <thead>
      <tr>
        <th>Number plate</th>
        <th>Type</th>
        <th>Passenger count</th>
        <th>Created at</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let vehicle of vehicles">
        <td>{{ vehicle.NumberPlate }}</td>
        <td>{{ getCategory(vehicle.CategoryID) }}</td>
        <td>{{ vehicle.PassengerCount }}</td>
        <td>{{ vehicle.CreatedAt | date: 'yyyy-MM-dd' }}</td>
        <td width="30"><mat-icon class="edit">edit</mat-icon></td>
        <td width="30"><mat-icon class="delete">delete</mat-icon></td>
      </tr>
      <tr *ngIf="vehicles.length === 0" style="cursor: default">
        <td colspan="6">No vehicles found</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
