<div style="width: 70vw;" class="mt-4">
  <div class="d-flex justify-content-between align-items-center">
    <a class="h3" style="color: #808080">{{getTranslate('My account')}}</a>

    <div class="d-flex">
      <button class="ll-button outline mr-2">
        <mat-icon class="mr-2">edit</mat-icon>
        Edit personal information
      </button>
      <button class="ll-button outline">
        <mat-icon class="mr-2">lock</mat-icon>
        Change password
      </button>
    </div>
  </div>

  <div class="white-block mt-4"></div>
</div>
